<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand">Welcome</a>
  
        <a class = "nav-link"
            routerLink = "home"
            routerLinkActive = "active"
            [routerLinkActiveOptions] = "{exact: true}">Home</a>

        <a class = "nav-link"
            routerLink = "color"
            routerLinkActive = "active"
            [routerLinkActiveOptions] = "{exact: true}">Favourite Color</a>

        <a class = "nav-link"
            routerLink = "icecream"
            routerLinkActive = "active"
            [routerLinkActiveOptions] = "{exact: true}">Favourite Dessert</a>
      
  </div>
</nav>

<router-outlet></router-outlet> 

<p class ="fixed-bottom text-center">A.Y. 2021 - 2022</p>