<br><br>
<h2 class ="text-center">My favorite dessert is ICECREAM!!!</h2>
<h3 class ="text-center">I love all icecream flavors just like:</h3>
<br>
<div class = "d-flex justify-content-center">
<button class = "btn btn-secondary" routerLink = "chocolate">Chocolate</button>&nbsp;&nbsp;
<button class = "btn btn-warning" routerLink = "vanilla">Vanilla</button>&nbsp;&nbsp;
<button class = "btn btn-primary" routerLink = "cookies-cream">Cookies and Cream</button>
</div>
<router-outlet></router-outlet> 